body{
	background-image: url("dibujos/subtle_white_feathers_@2X.png");
	background-repeat:no-repeat;
	
	background-attachment:fixed;
	max-width: 1000%;
}




.altura{
	position: absolute;
	top:1000px;
	
}

.img1{
	position: absolute;
	z-index: 0;
	size:500px;
    margin-top: 10px;
	margin-left: 400px;
	margin-right: 0px;
	margin-bottom: 200px;
}

.img2{
	position: absolute;
	z-index: :1;
	size:500px;
    margin-top: 10px;
	margin-left: 400px;
	margin-right: 0px;
	margin-bottom: 200px;
}



h1{

}

h2{

}

h3{

}

p{
	background-color: #edd3ff;
	padding-top: 20;
	padding-bottom: 20;
	padding-left: 10;
	padding-right: 10;
	margin-top: 600px;
	margin-left: 150px;
	margin-right: 500px;
}


	